*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #76b852, #9ac582);
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, .7)), url(/cvsu_accrsystem/images/cvsu-background.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.nav-bar {
    background: linear-gradient(rgba(237, 202, 107, 1), rgba(235, 189, 63, 1));
    height: 8%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 20px #000000;
}

.logo {
    width: 60px;
    cursor: default;
    filter: drop-shadow(2px 2px 4px #000000);
    margin-right: 10px;
}

.title {
    width: 600px;
    display: inline-block;
    cursor: default;
    color: #fff;
    font-family: "Roboto", arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 5px #000000;
}

.menu-icon {
    width: 28px;
    cursor: pointer;
    margin-left: 100px;
    filter: drop-shadow(2px 2px 4px #000000);
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 100px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 2px 2px 5px #000000;
}

.row {
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    height: 88%;
    align-items: center;
}

.about-us-box {
    width: 700px;
    height: 400px;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
    box-shadow: 5px 5px 20px #000000;
}

.col {
    flex-basis: 50%;
    padding-left: 8%;
    padding-right: 8%;
}

h1 {
    color: #000000;
    font-family: "Roboto", arial, sans-serif;
    font-size: 100px;
    margin-bottom: 20px;
    margin-top: 100px;
    cursor: default;
}

.about-us {
    color: #000000;
    font-family: "Roboto", arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-align: justify;
    cursor: default;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 20px #000000;
    transition: transform 0.5s;
}

.denn {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/cvsu_accrsystem/images/denn.png);
}

.drey {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/cvsu_accrsystem/images/drey.jpg);
}

.will {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/cvsu_accrsystem/images/will.jpg);
}

.joel {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/cvsu_accrsystem/images/joel.jpg);
}

.card:hover {
    transform: translateY(-10px);
}

.denn:hover {
    background-image: url(/cvsu_accrsystem/images/denn.png);
}

.drey:hover {
    background-image: url(/cvsu_accrsystem/images/drey.jpg);
}

.will:hover {
    background-image: url(/cvsu_accrsystem/images/will.jpg);
}

.joel:hover {
    background-image: url(/cvsu_accrsystem/images/joel.jpg);
}

h5 {
    color: #fff;
    font-family: "Roboto", arial, sans-serif;
    text-shadow: 0 0 5px #999;
    margin-top: 0;
}

.card:hover h5 {
    text-shadow: 0 0 5px #000000;
}