*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #76b852, #9ac582);
    height: 100vh;
    max-width: 100%;
}

.container-fluid {
    max-width: 100%;
    height: 100vh;
    background: #9ac582;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.nav-bar {
    background: linear-gradient(rgba(237, 202, 107, 1), rgba(235, 189, 63, 1));
    max-width: 100%;
    position: fixed;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 20px #000000;
    left: 0;
    right: 0;
}

.logo {
    width: 60px;
    cursor: default;
    filter: drop-shadow(2px 2px 4px #000000);
    margin-right: 10px;
}

.title {
    width: 600px;
    display: inline-block;
    cursor: default;
    color: #fff;
    font-family: "Roboto", arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 5px #000000;
}

.menu {
    position: relative;
    display: inline-block;
    margin-left: 750px;
}

.menu-icon {
    width: 40px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px #000000);
    border-radius: 20px;
}

.menu-button {
    width: 40px;
    cursor: default;
    all: unset;
    padding: 10px;
}

.menu-content {
    display: none;
    position: absolute;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto", arial, sans-serif;
}

.menu-content a:hover {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.menu:hover .menu-content {
    display: block;
}

.menu:hover .menu-button {
    background: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2));
    border-radius: 50px;
}

.side-nav-content {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #101a13;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 60px;
}

.side-nav-content a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: "Roboto", arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-nav-content a:hover {
    color: #f1f1f1;
}

.side-nav-content .close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sidenav {
    padding-left: 10px;
}

.sidenav {
    position: fixed;
}

@media screen and (max-height: 450px) {
    .side-nav-content {padding-top: 15px;}
    .side-nav-content a {font-size: 18px;}
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.main {
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    height: 100%;
    position: fixed;
    margin-top: 20px;
    align-items: center;
}

.profile-box {
    width: 700px;
    height: 650px;
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
    overflow-y: auto;
}

.profile-boxx{
    width: 700px;
    height: 610px;
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
    margin-top: 40px;
    overflow-y: auto;
}


.profile-info ul {
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
}

.profile-info ul li {
    margin-bottom: 10px;
}

.profile-pic {
    padding-left: 210px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.pic {
    border: 2px solid #53962f;
}