*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #76b852, #9ac582);
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, .7)), url(/cvsu_accrsystem/images/cvsu-background.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.nav-bar {
    background: linear-gradient(rgba(237, 202, 107, 1), rgba(235, 189, 63, 1));
    height: 8%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 20px #000000;
}

.logo {
    width: 60px;
    cursor: default;
    filter: drop-shadow(2px 2px 4px #000000);
    margin-right: 10px;
}

.title {
    width: 600px;
    display: inline-block;
    cursor: default;
    color: #fff;
    font-family: "Roboto", arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 5px #000000;
}

.menu-icon {
    width: 28px;
    cursor: pointer;
    margin-left: 100px;
    filter: drop-shadow(2px 2px 4px #000000);
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 100px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 2px 2px 5px #000000;
}

.sign-in-box {
    width: 450px;
    height: 400px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px;
    box-shadow: 5px 5px 20px #000000;
}

.sign-in-message {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    color: #000000;
    font-family: "Roboto", arial, sans-serif;
    font-size: 40px;
    font-weight: 550;
    text-align: center; 
    text-shadow: -.5px 0 #fff, 0 .5px #fff, .5px 0 #fff, 0 -.5px #fff;
}

.authorize-button {
    position: relative;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;
    display: inline-block;
    width: 270px;
    height: 50px;
    background-color: #4285f4;
    color: #ffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.authorize-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
}

.authorize-button:active {
    background-color: #3367D6;
    transition: background-color .2s;
}

.authorize-button .content-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;;
}

.authorize-button img {
    width: 18px;
    height: 18px;;
}

.authorize-button .logo-wrapper {
    padding: 15px;
    background: #fff;
    width: 48px;
    height: 100%;
    border-radius: 5px;
    display: inline-block;
}

.authorize-button .text-container {
    font-family: "Roboto", arial, sans-serif;
    font-weight: 500;
    color: #fff;
    letter-spacing: .21px;
    font-size: 16px;
    line-height: 48px;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 210px;
}